<section id="about">
  <p>STAY HUNGRY STAY FOOLISH</p>
  <% if (config.description) { %>
    <%- markdown(config.description) %>
  <% } %>
  <% if (theme.social_links) { %>
    <p>
      <%= __('index.find_me_on') %>
      <% var nb_links = Object.keys(theme.social_links).length %>
      <% var i = 0 %>
      <% for(var link in theme.social_links) { %>
        <% if (link == 'mail') { %>
          <a class="icon" target="_blank" rel="noopener" href="<%- theme.social_links[link] %>">
            <i class="fas fa-envelope"></i><!--
      ---></a><!--
      ---><% } else { %>
          <a class="icon" target="_blank" rel="noopener" href="<%- url_for(theme.social_links[link]) %>">
            <i class="fab fa-<%= link %>"></i><!--
      ---></a><!--
    ---><% } %><!--
    ---><%= ( nb_links > 0 && i < nb_links-1 ?
            ( i == nb_links-2 ? ' '+__('index.enum_and')+' '
            : __('index.enum_comma')+' ' )
            : '.' ) %>
        <% i+=1 %>
      <% } %>
    </p>
  <% } %>
</section>

<section id="experience">
  <span class="h1">Experience</span>
  <ul>
    <li>2025.01-now: Fortinet Canada | Senior Software Developer</li>
    <li>2021.05-2024.08: RingCentral | Senior Software Engineer</li>
    <li>2020.01-2021.05: Yuanfudao | Senior Software Engineer</li>
    <li>2017.02-2019.12: VIPKID | Software Engineer</li>
  </ul>
</section>
